*{
    box-sizing: border-box;
}

html {
    background-color: rgb(22, 25, 27);
    font-family: sans-serif;
    color: rgb(152, 225, 243);
}

nav {
    background-color: rgb(34, 3, 3);
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 50px;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    padding: 10px 50px;
}

.logo{
    width: 100%;
    max-width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact{
    margin-left: auto;
}


body{
    margin-top: 50px;
    margin-bottom: 50px;
}

.home{
    color: rgb(152, 225, 243);
    height: 50px;
    width: 50px;
}

a:hover{
    color: rgb(2, 253, 211);
}

a:visited{
    color: none;
}

a{
    display: flex;
    justify-content: center;
    color: rgb(152, 225, 243);
    text-transform: uppercase;
    text-decoration: none;
}

.filler, .contactInfo{
    color: rgb(152, 225, 243);
    text-transform: uppercase;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.product_names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    color: rgb(152, 225, 243);

}

.about_us, .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    color: rgb(152, 225, 243);

}

.cwrapper{
    display: flex;
    gap: 5px;
    align-items: center;
}

.cemail{
    font-size: 24px;
}

.phone, .email, .address{
    color:rgb(194, 2, 253)
}

.topBumper{
    margin-bottom: 125px;
}

.filler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: 100%;
}

.chat{
    position: fixed;
    bottom: 25px;
    right: 15px;
    color:rgb(2, 253, 211);
    height: 75px;
    width: 75px;
    z-index: 1;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 3, 3);
    color: rgb(152, 225, 243);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.products_home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 1px rgb(152, 225, 243);
    border-radius: 10px;
    padding: 10px;
}

.wd_product_text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

#twok{
    text-align: right;
}

#neglected{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.home_image{
    width: 100%;
    max-width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

